server {
    listen 80 default_server; # Слушает порт 80 для HTTP-трафика в качестве сервера по умолчанию
    server_name _; # Обрабатывает запросы для любого доменного имени
    location / {
        proxy_pass http://{{ reactjs_host_ip }}:{{ reactjs_host_port }}; # Перенаправляет запросы на указанные IP и порт
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

}

# эта конфигурация Nginx прослушивает входящие HTTP-запросы на порту 80 и использует обратный прокси для передачи запросов на внутренний сервер,
#указанный переменными reactjs_host_ip и reactjs_host_port. Кроме того, он устанавливает заголовки X-Forwarded, чтобы сохранить исходную информацию о клиенте
#при передаче запросов.
